<!doctype html>
<html ng-app>
<head>
  <title>Simple To-Do List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="todo.js" type="text/javascript"></script>
</head>
<body>
  <div ng-controller="TodoCentral">
    <h2>{{getTotalTodos()}} items on your checklist</h2><!-- displays number of items on the checklist -->

    <ul>
      <li ng-repeat="todo in todos"><!-- loops through and displays the array -->
        <input type="checkbox" ng-model="todo.done" /><span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>

    <form>
      <input placeholder="I need to..." type="text" ng-model="addTodoText" ng-model-instant />
      <button ng-click="addTodo()">Add</button><!-- create new checklist items -->
    </form>

    <button ng-click="clearCompleted()">Clear checked off items</button><!-- clear away completed items -->
  </div>
</body>
</html>
